<div class="category-page">
  <div class="nav-area">
    <h1>CATEGORIES</h1>
    <p style="color: green"><%= notice %></p>
  </div>

  <div id="groups" class="categories">
    <% @groups.each do |group| %>
      <%= render group %>
    <% end %>
  </div>
  <div class="add-category">
    <button class="new-category-btn">
      <%= link_to "ADD CATEGORY", new_group_path %>
    </button>
  </div>
</div>
