<div class="splash-page">
  <h1>BUDGET APP</h1>
  <div class="splash-buttons">
    <button class="logins">
      <%= link_to "LOG IN", user_session_path %>
    </button>
    <button class="logins">
      <%= link_to "SIGN UP", new_user_registration_path %>
    </button>
  </div>
</div>
