<div class="splash-page">
  <h1>BUDGET APP</h1>
  <button class="sign-up">
    <%= link_to "sign up", new_user_registration_path %>
  </button>
  <button class="login">
    <%= link_to "sign in", user_session_path %>
  </button>
</div>
